{% extends "base.html" %}
{% block title %}HOMEPAGE{% endblock %}  
{% block content %}
</br>
<div class="main">
<h3 align="center">welcome! rules to play are as follows:</h3>
<hr>
<ul class="yo">
<li>compulsorily enter all the answers</li>
<li>total 10 questions are in this quiz</li>
<li>each correct answer carries 2 marks</li>
<li> each wrong answer carries -1 marks</li>
<li> result page will show score of your game</li>
</br>

<h3> To play click "play now" on menu bar/navigation bar, have fun!</h3>
</ul>
</div>
<style> 
.main{
	font-size: 100%;
	margin-top: 10%;
}
.yo{
	text-align: center;
}
</style>
{% endblock %}